/*.listCard {
    display:flex;
}*/
header {
    top: 0;
}

.listCard{
    min-height: 500px;
}

.listCard .row {
    justify-content: center;
}

.infoProduct {

}

.card {
    max-width: 20rem;
    justify-content: center;
}
.card img {
    height: 65%;
}

footer a {
    color:white;
}